.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > * {
    align-items: baseline;
  }
}

.item-text {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.item-image {
  flex: 2;
}
